# 모듈

In [2]:
import sys
import numpy as np
import pandas as pd

In [217]:
'''from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="C:\\Windows\\Fonts\\LSANSI.TTF").get_name()
rc('font', family=font_name)
font_list = fm.findSystemFonts(fontpaths=None, fontext='ttf')
font_list[:]'''

'from matplotlib import font_manager, rc\nfont_name = font_manager.FontProperties(fname="C:\\Windows\\Fonts\\LSANSI.TTF").get_name()\nrc(\'font\', family=font_name)\nfont_list = fm.findSystemFonts(fontpaths=None, fontext=\'ttf\')\nfont_list[:]'

# 전처리

## 매매 파일 정리

In [3]:
mod = sys.modules[__name__]

# 2007년부터 2020년까지의 매매기록을
# sales_2007 ~ sales_2020 까지의 데이터프레임으로 각각 저장
for i in range(2007, 2021):
    filename = 'APT[SEOUL]매매/%d.csv' % i
    setattr(mod, 'sales_{}'.format(i),
            pd.read_csv(filename, encoding='cp949', header=15))

real_estate = pd.concat([
    sales_2007, sales_2008, sales_2009, sales_2010, sales_2011, sales_2012,
    sales_2013, sales_2014, sales_2015, sales_2016, sales_2017, sales_2018,
    sales_2019, sales_2020
],
                   ignore_index=True)
real_estate = real_estate.query("도로명 != ' '") # 도로명 주소 미보유 삭제
real_estate

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988,언주로 103
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200610,20,"72,250",5,1988,언주로 103
2,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200610,30,"73,500",8,1988,언주로 103
3,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200612,9,"76,500",5,1988,언주로 103
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,200605,9,"88,000",3,1987,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...
1082712,서울특별시 중랑구 중화동,274-75,274,75,한영(102),58.87,202003,17,"28,800",6,2003,동일로144길 74
1082713,서울특별시 중랑구 중화동,274-77,274,77,한영(104),70.96,202001,28,"31,200",4,2003,동일로144길 74
1082714,서울특별시 중랑구 중화동,274-77,274,77,한영(104),66.24,202002,3,"28,500",5,2003,동일로144길 74
1082715,서울특별시 중랑구 중화동,274-77,274,77,한영(104),106.21,202003,11,"45,400",6,2003,동일로144길 74
1082716,서울특별시 중랑구 중화동,11-7,11,7,현대휴앤미(102동),64.48,201907,15,"32,800",3,2007,봉화산로27가길 19

In [22]:
sorted(real_estate['계약년월'].unique())

[200605,
 200606,
 200607,
 200608,
 200609,
 200610,
 200611,
 200612,
 200701,
 200702,
 200703,
 200704,
 200705,
 200706,
 200707,
 200708,
 200709,
 200710,
 200711,
 200712,
 200801,
 200802,
 200803,
 200804,
 200805,
 200806,
 200807,
 200808,
 200809,
 200810,
 200811,
 200812,
 200901,
 200902,
 200903,
 200904,
 200905,
 200906,
 200907,
 200908,
 200909,
 200910,
 200911,
 200912,
 201001,
 201002,
 201003,
 201004,
 201005,
 201006,
 201007,
 201008,
 201009,
 201010,
 201011,
 201012,
 201101,
 201102,
 201103,
 201104,
 201105,
 201106,
 201107,
 201108,
 201109,
 201110,
 201111,
 201112,
 201201,
 201202,
 201203,
 201204,
 201205,
 201206,
 201207,
 201208,
 201209,
 201210,
 201211,
 201212,
 201301,
 201302,
 201303,
 201304,
 201305,
 201306,
 201307,
 201308,
 201309,
 201310,
 201311,
 201312,
 201401,
 201402,
 201403,
 201404,
 201405,
 201406,
 201407,
 201408,
 201409,
 201410,
 201411,
 201412,
 201501,
 201502,
 201503,
 201504,
 201505,
 201506,
 201507,
 201508,
 201509,
 201510,
 201511,
 201512,
 201601,
 201602,
 201603,
 201604,
 201605,
 201606,
 201607,
 201608,
 201609,
 201610,
 201611,
 201612,
 201701,
 201702,
 201703,
 201704,
 201705,
 201706,
 201707,
 201708,
 201709,
 201710,
 201711,
 201712,
 201801,
 201802,
 201803,
 201804,
 201805,
 201806,
 201807,
 201808,
 201809,
 201810,
 201811,
 201812,
 201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005]

In [4]:
real_estate['시'],real_estate['구'],real_estate['동'] = real_estate['시군구'].str.split(' ',2).str
real_estate

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시,구,동
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988,언주로 103,서울특별시,강남구,개포동
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200610,20,"72,250",5,1988,언주로 103,서울특별시,강남구,개포동
2,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200610,30,"73,500",8,1988,언주로 103,서울특별시,강남구,개포동
3,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200612,9,"76,500",5,1988,언주로 103,서울특별시,강남구,개포동
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,200605,9,"88,000",3,1987,언주로 3,서울특별시,강남구,개포동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082712,서울특별시 중랑구 중화동,274-75,274,75,한영(102),58.87,202003,17,"28,800",6,2003,동일로144길 74,서울특별시,중랑구,중화동
1082713,서울특별시 중랑구 중화동,274-77,274,77,한영(104),70.96,202001,28,"31,200",4,2003,동일로144길 74,서울특별시,중랑구,중화동
1082714,서울특별시 중랑구 중화동,274-77,274,77,한영(104),66.24,202002,3,"28,500",5,2003,동일로144길 74,서울특별시,중랑구,중화동
1082715,서울특별시 중랑구 중화동,274-77,274,77,한영(104),106.21,202003,11,"45,400",6,2003,동일로144길 74,서울특별시,중랑구,중화동
1082716,서울특별시 중랑구 중화동,11-7,11,7,현대휴앤미(102동),64.48,201907,15,"32,800",3,2007,봉화산로27가길 19,서울특별시,중랑구,중화동

In [14]:
# 지역 월간 거래량

Trading_Volume = pd.DataFrame(sorted(real_estate['계약년월'].unique()), columns=['계약년월'])

for state in real_estate['구'].unique():

    state_dataframe = real_estate[real_estate.구 == state]
    state_dataframe = state_dataframe.groupby('계약년월')['구'].count().to_frame().reset_index()
    state_dataframe = state_dataframe.rename(columns={'구':state})
    Trading_Volume = pd.merge(Trading_Volume, state_dataframe, how = 'left', on = ['계약년월'] )
    print('{} 데이터 프레임 저장 완료'.format(state))

강남구 데이터 프레임 저장 완료
강동구 데이터 프레임 저장 완료
강북구 데이터 프레임 저장 완료
강서구 데이터 프레임 저장 완료
관악구 데이터 프레임 저장 완료
광진구 데이터 프레임 저장 완료
구로구 데이터 프레임 저장 완료
금천구 데이터 프레임 저장 완료
노원구 데이터 프레임 저장 완료
도봉구 데이터 프레임 저장 완료
동대문구 데이터 프레임 저장 완료
동작구 데이터 프레임 저장 완료
마포구 데이터 프레임 저장 완료
서대문구 데이터 프레임 저장 완료
서초구 데이터 프레임 저장 완료
성동구 데이터 프레임 저장 완료
성북구 데이터 프레임 저장 완료
송파구 데이터 프레임 저장 완료
양천구 데이터 프레임 저장 완료
영등포구 데이터 프레임 저장 완료
용산구 데이터 프레임 저장 완료
은평구 데이터 프레임 저장 완료
종로구 데이터 프레임 저장 완료
중구 데이터 프레임 저장 완료
중랑구 데이터 프레임 저장 완료

In [26]:
TV = Trading_Volume.copy()

In [34]:
Trading_Volume

,계약년월,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,...,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
0,200605,399,470,173,618,369,271.0,488,154.0,924,...,336,326,437.0,456,392,268,145,49.0,56,226
1,200606,229,228,145,415,212,153.0,274,94.0,666,...,198,223,193.0,223,264,111,128,35.0,46,177
2,200607,154,184,139,377,185,132.0,333,116.0,679,...,218,309,171.0,285,241,104,122,35.0,39,166
3,200608,280,350,200,514,294,214.0,459,164.0,1128,...,264,365,275.0,335,293,129,174,52.0,77,274
4,200609,669,809,395,911,600,358.0,824,255.0,2015,...,506,772,779.0,619,519,238,307,79.0,110,402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,202001,132,333,312,422,235,63.0,443,125.0,816,...,206,444,219.0,238,305,102,311,63.0,83,237
165,202002,237,394,261,461,298,115.0,575,186.0,1158,...,284,519,360.0,311,344,80,356,57.0,91,364
166,202003,135,163,159,249,179,51.0,310,177.0,625,...,150,238,147.0,163,146,36,203,42.0,61,208
167,202004,123,117,95,172,131,31.0,215,52.0,348,...,67,161,102.0,100,106,29,154,24.0,32,128
168,202005,2,2,3,7,4,NaN,14,NaN,4,...,3,6,NaN,4,3,1,3,NaN,2,8

In [19]:
Trading_Volume.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 26 columns):
계약년월    169 non-null int64
강남구     169 non-null int64
강동구     169 non-null int64
강북구     169 non-null int64
강서구     169 non-null int64
관악구     169 non-null int64
광진구     168 non-null float64
구로구     169 non-null int64
금천구     168 non-null float64
노원구     169 non-null int64
도봉구     169 non-null int64
동대문구    169 non-null int64
동작구     169 non-null int64
마포구     169 non-null int64
서대문구    169 non-null int64
서초구     169 non-null int64
성동구     169 non-null int64
성북구     169 non-null int64
송파구     168 non-null float64
양천구     169 non-null int64
영등포구    169 non-null int64
용산구     169 non-null int64
은평구     169 non-null int64
종로구     168 non-null float64
중구      169 non-null int64
중랑구     169 non-null int64
dtypes: float64(4), int64(22)
memory usage: 35.6 KB

In [35]:
# 202005 데이터 누락
TV = TV.dropna(axis=0)
TV

,계약년월,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,...,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
0,200605,399,470,173,618,369,271.0,488,154.0,924,...,336,326,437.0,456,392,268,145,49.0,56,226
1,200606,229,228,145,415,212,153.0,274,94.0,666,...,198,223,193.0,223,264,111,128,35.0,46,177
2,200607,154,184,139,377,185,132.0,333,116.0,679,...,218,309,171.0,285,241,104,122,35.0,39,166
3,200608,280,350,200,514,294,214.0,459,164.0,1128,...,264,365,275.0,335,293,129,174,52.0,77,274
4,200609,669,809,395,911,600,358.0,824,255.0,2015,...,506,772,779.0,619,519,238,307,79.0,110,402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,201912,377,488,246,663,283,132.0,508,133.0,1039,...,426,633,469.0,367,432,166,339,82.0,171,429
164,202001,132,333,312,422,235,63.0,443,125.0,816,...,206,444,219.0,238,305,102,311,63.0,83,237
165,202002,237,394,261,461,298,115.0,575,186.0,1158,...,284,519,360.0,311,344,80,356,57.0,91,364
166,202003,135,163,159,249,179,51.0,310,177.0,625,...,150,238,147.0,163,146,36,203,42.0,61,208
167,202004,123,117,95,172,131,31.0,215,52.0,348,...,67,161,102.0,100,106,29,154,24.0,32,128

In [48]:
%whos

Variable          Type         Data/Info
----------------------------------------
TV                DataFrame           계약년월  강남구  강동구  강북<...>\n[168 rows x 26 columns]
Trading_Volume    DataFrame           계약년월  강남구  강동구  강북<...>\n[169 rows x 26 columns]
ate_dataframe     DataFrame                       시군구   <...>n[8320 rows x 15 columns]
filename          str          APT[SEOUL]매매/2020.csv
i                 int          2020
mod               module       <module '__main__'>
np                module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
os                module       <module 'os' from 'C:\\Us<...>\\anaconda3\\lib\\os.py'>
pd                module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
real_estate       DataFrame                       시군구   <...>080782 rows x 15 columns]
sales_2007        DataFrame                      시군구    <...>103447 rows x 12 columns]
sales_2008        DataFrame                     시군구     <...>[73613 rows x 12 columns]
sales_2009        DataFrame                     시군구     <...>[47070 rows x 12 columns]
sales_2010        DataFrame                     시군구     <...>[66469 rows x 12 columns]
sales_2011        DataFrame                     시군구     <...>[51811 rows x 12 columns]
sales_2012        DataFrame                     시군구     <...>[46346 rows x 12 columns]
sales_2013        DataFrame                     시군구     <...>[48207 rows x 12 columns]
sales_2014        DataFrame                     시군구     <...>[76373 rows x 12 columns]
sales_2015        DataFrame                      시군구    <...>103038 rows x 12 columns]
sales_2016        DataFrame                      시군구    <...>102615 rows x 12 columns]
sales_2017        DataFrame                      시군구    <...>108292 rows x 12 columns]
sales_2018        DataFrame                      시군구    <...>112986 rows x 12 columns]
sales_2019        DataFrame                     시군구     <...>[54214 rows x 12 columns]
sales_2020        DataFrame                     시군구     <...>[88236 rows x 12 columns]
state             str          중랑구
state_dataframe   DataFrame           계약년월  종로구\n0    20<...>n\n[168 rows x 2 columns]
sys               module       <module 'sys' (built-in)>
time              DataFrame           계약년월\n0    200605\<...>n\n[169 rows x 1 columns]