In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
msft = pd.read_csv('data/msft.csv')
msft.head()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [4]:
msft = pd.read_csv('data/msft.csv', index_col='Date')
msft.head()

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

In [5]:
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [6]:
msft = pd.read_csv('data/msft.csv', dtype={'Volume' : np.float64})
msft.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [8]:
df = pd.read_csv('data/msft.csv', header = 0, names=['date', 'open', 'high', 'low', 'close', 'volume'])
df

           date   open   high    low  close   volume
0     7/21/2014  83.46  83.53  81.81  81.93  2359300
1     7/18/2014  83.30  83.40  82.52  83.35  4020800
2     7/17/2014  84.35  84.63  83.33  83.63  1974000
3     7/16/2014  83.77  84.91  83.66  84.91  1755600
4     7/15/2014  84.30  84.38  83.20  83.58  1874700
...         ...    ...    ...    ...    ...      ...
3762   1/7/2000  48.55  50.35  47.80  50.00  4621200
3763   1/6/2000  46.78  48.35  46.28  48.03  3306100
3764   1/5/2000  46.94  47.50  45.92  46.75  4809900
3765   1/4/2000  49.80  49.80  47.72  47.85  4489500
3766   1/3/2000  52.70  53.20  49.60  49.75  3137300

[3767 rows x 6 columns]

In [9]:
df2 = pd.read_csv('data/msft.csv', usecols=['Date', 'Close'], index_col=['Date'])
df2.head()

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [10]:
df2.to_csv('data/msft_modified.csv', index_label='date')

In [13]:
df = pd.read_table('data/msft.csv', sep=',')
df.head()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [14]:
df.to_csv('data/msft_piped.txt', sep='|')

In [16]:
df = pd.read_csv('data/msft2.csv', skiprows = [0, 2, 3])
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700
5  7/14/2014  83.66  84.64  83.11  84.40  1432100
6  7/11/2014  83.55  83.98  82.85  83.35  2001400
7  7/10/2014  85.20  85.57  83.36  83.42  2713300
8   7/9/2014  84.83  85.79  84.76  85.50  1540700

In [19]:
df = pd.read_csv('data/msft_with_footer.csv', skipfooter=2, engine='python')
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [20]:
pd.read_csv('data/msft.csv', nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

In [21]:
pd.read_csv('data/msft.csv', skiprows=100, nrows=5, header=0, names=['data', 'open', 'high', 'low', 'close', 'vol'])

        data   open   high    low  close      vol
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

In [24]:
df = pd.read_excel('data/stocks.xlsx')
df.head()

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [25]:
aapl = pd.read_excel('data/stocks.xlsx', sheet_name='aapl')
aapl.head()

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [28]:
!pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [ ]:
df.to_excel('data/stocks2.xls')

In [30]:
df.to_excel('data/stocks_msft.xls', sheet_name='MSFT')

In [31]:
from pandas import ExcelWriter
with ExcelWriter('data/all_stocks.xls') as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

In [33]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py): started
  Building wheel for et-xmlfile (setup.py): finished with status 'done'
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8920 sha256=f184112ed3da8224f278845f1e0d7f7ad256d82299a5242e7f9db417c339b1d0
  Stored in directory: c:\users\pc\appdata\local\pip\cache\wheels\e2\bd\55\048b4fd505716c4c298f42ee02dffd9496bb6d212b266c7f31
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, jdcal, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5

In [34]:
df.to_excel('data/msft2.xlsx')

In [36]:
df[:5].to_json('data/stocks.json')

In [37]:
df_from_json = pd.read_json('data/stocks.json')
df_from_json[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [39]:
test = pd.read_json('data/OBJ00013_PS3_K3_NIA0078.json')
test[:1]

                                            features               type
0  {'geometry': {'coordinates': [[[1, 1, 0.0], [1...  FeatureCollection

In [41]:
test['features'].head(50)

0     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
1     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
2     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
3     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
4     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
5     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
6     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
7     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
8     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
9     {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
10    {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
11    {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
12    {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
13    {'geometry': {'coordinates': [[[1, 1, 0.0], [1...
Name: features, dtype: object