### Series

In [2]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_column', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
s = pd.Series([10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [5]:
s[3]

13

In [6]:
pd.Series(['Mike', 'Marcia', 'Mikael', 'Sleu'])

0      Mike
1    Marcia
2    Mikael
3      Sleu
dtype: object

In [7]:
pd.Series([2] * 5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [8]:
pd.Series(list('abcde'))

0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
pd.Series(
    {
        'Mike' : 'Dad',
        'Marcia' : 'Mom',
        'Mikael' : 'Son',
        'Bleu' : 'Best doggie ever'
    }
)

Mike                   Dad
Marcia                 Mom
Mikael                 Son
Bleu      Best doggie ever
dtype: object

In [15]:
pd.Series(np.arange(4, 9))

0    4
1    5
2    6
3    7
4    8
dtype: int32

In [13]:
pd.Series(np.linspace(0, 9, 5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [20]:
np.random.seed(12345)
pd.Series(np.random.normal(size = 5))

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

In [21]:
s = pd.Series(2)
s

0    2
dtype: int64

In [24]:
s = pd.Series(np.arange(0, 5))
s * 2

0    0
1    2
2    4
3    6
4    8
dtype: int32

In [27]:
s = pd.Series([1, 2, 3])
s.values

array([1, 2, 3], dtype=int64)

In [28]:
type(s.values)

numpy.ndarray

In [29]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [30]:
s = pd.Series([0, 1, 2 , 3])
len(s)

4

In [31]:
s.size

4

In [32]:
s.shape

(4,)

In [33]:
labels = ['Mike', 'Marcia', 'Mikael', 'Bleu']
role = ['Dad', 'Mom', 'Son', 'Dog']
s = pd.Series(labels, index = role)
s

Dad      Mike
Mom    Marcia
Son    Mikael
Dog      Bleu
dtype: object

In [34]:
s.index

Index(['Dad', 'Mom', 'Son', 'Dog'], dtype='object')

In [35]:
s['Dad']

'Mike'

In [5]:
s = pd.Series(np.arange(1, 10), index = list('abcdefghi'))

In [6]:
s.head()

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [7]:
s.head(3)

a    1
b    2
c    3
dtype: int32

In [8]:
s.tail()

e    5
f    6
g    7
h    8
i    9
dtype: int32

In [9]:
s.tail(3)

g    7
h    8
i    9
dtype: int32

In [11]:
s.take([1, 5, 8])

b    2
f    6
i    9
dtype: int32

In [12]:
s1 = pd.Series(np.arange(10, 15), index = list('abcde'))
s1

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [13]:
s1['a']

10

In [14]:
s1[['d', 'b']]

d    13
b    11
dtype: int32

In [15]:
s1[[3, 1]]

d    13
b    11
dtype: int32

In [19]:
s2 = pd.Series([1, 2, 3, 4], index = np.arange(10, 14))
s2

10    1
11    2
12    3
13    4
dtype: int64

In [20]:
s2[[13 ,10]]

13    4
10    1
dtype: int64

In [21]:
s1.iloc[[0, 2]]

a    10
c    12
dtype: int32

In [22]:
s2.iloc[[3, 2]]

13    4
12    3
dtype: int64

In [23]:
s1.loc[['a', 'd']]

a    10
d    13
dtype: int32

In [24]:
s2.loc[[11, 12]]

11    2
12    3
dtype: int64

In [26]:
s = pd.Series(np.arange(100, 110), index = np.arange(10, 20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

### Series 슬라이싱

In [27]:
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int32

In [28]:
s.iloc[[1, 2, 3, 4, 5]]

11    101
12    102
13    103
14    104
15    105
dtype: int32

In [29]:
s[1: 6: 2]

11    101
13    103
15    105
dtype: int32

In [30]:
s[:5]

10    100
11    101
12    102
13    103
14    104
dtype: int32

In [31]:
s[4:]

14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [32]:
s[:5:2]

10    100
12    102
14    104
dtype: int32

In [33]:
s[4::2]

14    104
16    106
18    108
dtype: int32

In [34]:
s[::-1]

19    109
18    108
17    107
16    106
15    105
14    104
13    103
12    102
11    101
10    100
dtype: int32

In [35]:
s[4::-2]

14    104
12    102
10    100
dtype: int32

In [39]:
# start 의 음수는 tail과 같은 효과 
s[-4:]

16    106
17    107
18    108
19    109
dtype: int32

In [42]:
s[:-4]

10    100
11    101
12    102
13    103
14    104
15    105
dtype: int32

In [43]:
s[-4:-1]

16    106
17    107
18    108
dtype: int32

In [45]:
s = pd.Series(np.arange(0, 5), index = list('abcde'))
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [46]:
s[1:3]

b    1
c    2
dtype: int32

In [47]:
s['b':'d']

b    1
c    2
d    3
dtype: int32

In [48]:
s1 = pd.Series([1, 2], index = ['a', 'b'])
s1

a    1
b    2
dtype: int64

In [49]:
s2 = pd.Series([4, 3], index = ['b', 'a'])
s2

b    4
a    3
dtype: int64

In [50]:
s1 + s2

a    4
b    6
dtype: int64

In [51]:
s1 * 2

a    2
b    4
dtype: int64

In [52]:
t = pd.Series(2, s1.index)
t

a    2
b    2
dtype: int64

In [53]:
s1 * t

a    2
b    4
dtype: int64

In [54]:
s3 = pd.Series([5, 6], index = ['b', 'c'])
s3

b    5
c    6
dtype: int64

In [55]:
s1 + s3

a    NaN
b    7.0
c    NaN
dtype: float64

In [56]:
s1 = pd.Series([1.0, 2.0, 3.0], index = ['a', 'a', 'b'])
s1

a    1.0
a    2.0
b    3.0
dtype: float64

In [62]:
# s2 = pd.Series([4.0, 5.0, 6.0, 7.0], index = ['a', 'a', 'c', 'a'])
s2 = pd.Series(np.linspace(4, 7, 4), index = ['a', 'a', 'c', 'a'])
s2

a    4.0
a    5.0
c    6.0
a    7.0
dtype: float64

In [63]:
s1 + s2

a    5.0
a    6.0
a    8.0
a    6.0
a    7.0
a    9.0
b    NaN
c    NaN
dtype: float64

In [64]:
s = pd.Series(np.arange(0, 5), index = list('abcde'))
logical_results = s >= 3
logical_results

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [65]:
s[logical_results]

d    3
e    4
dtype: int32

In [69]:
s[s>5]

Series([], dtype: int32)

In [71]:
s[s >= 2 and s < 5]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [73]:
s[(s >= 2) & (s < 5)]

c    2
d    3
e    4
dtype: int32

In [75]:
(s >= 0).all()

True

In [76]:
s[s < 2].any()

True

In [77]:
(s < 2).sum()

2

In [78]:
np.random.seed(123456)
s = pd.Series(np.random.randn(5))
s

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [79]:
s.index = list('abcde')
s

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
e    1.212112
dtype: float64

In [80]:
np.random.seed(123456)
s1 = pd.Series(np.random.randn(4), ['a', 'b', 'c', 'd'])
s1

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64

In [81]:
s2 = s1.reindex(['a', 'c', 'g'])
s2

a    0.469112
c   -1.509059
g         NaN
dtype: float64

In [84]:
s1 = pd.Series([0, 1, 2], index = [0, 1, 2])
s2 = pd.Series([3, 4, 5], index = ['0', '1', '2'])
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [85]:
s2.index = s2.index.values.astype(int)
s1 + s2

0    3
1    5
2    7
dtype: int64

In [86]:
s2 = s.copy()
s2.reindex(['a', 'f'], fill_value = 0)

a    0.469112
f    0.000000
dtype: float64

In [87]:
s2

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
e    1.212112
dtype: float64

In [88]:
s3 = pd.Series(['red', 'green', 'blue'], index = [0, 3, 5])
s3

0      red
3    green
5     blue
dtype: object

In [89]:
# ffill정방향  채우기
s3.reindex(np.arange(0, 7), method = 'ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [90]:
# bfill 역방향 채우기
s3.reindex(np.arange(0, 7), method = 'bfill')

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object

In [91]:
np.random.seed(123456)
s = pd.Series(np.random.randn(3),  index = ['a', 'b', 'c'])
s

a    0.469112
b   -0.282863
c   -1.509059
dtype: float64

In [92]:
s['d'] = 100
s

a      0.469112
b     -0.282863
c     -1.509059
d    100.000000
dtype: float64

In [93]:
s['d'] = -100
s

a      0.469112
b     -0.282863
c     -1.509059
d   -100.000000
dtype: float64

In [94]:
del(s['a'])
s

b     -0.282863
c     -1.509059
d   -100.000000
dtype: float64

In [95]:
copy = s.copy()
slice = copy[:2]
slice

b   -0.282863
c   -1.509059
dtype: float64

In [98]:
copy[:2]

b   -0.282863
c   -1.509059
dtype: float64

In [99]:
slice['b'] = 0
copy

b      0.000000
c     -1.509059
d   -100.000000
dtype: float64