In [2]:
import sys 
import pandas as pd
import numpy as np

In [4]:
mod = sys.modules[__name__]

# 2007년부터 2020년까지의 매매기록을
# sales_2007 ~ sales_2020 까지의 데이터프레임으로 각각 저장
for i in range(2007, 2021):
    filename = 'data/APT[SEOUL]매매/%d.csv' % i
    setattr(mod, 'sales_{}'.format(i),
            pd.read_csv(filename, encoding='cp949', header=15))

real_estate = pd.concat([
    sales_2007, sales_2008, sales_2009, sales_2010, sales_2011, sales_2012,
    sales_2013, sales_2014, sales_2015, sales_2016, sales_2017, sales_2018,
    sales_2019, sales_2020
],
                   ignore_index=True)
real_estate = real_estate.query("도로명 != ' '") # 도로명 주소 미보유 삭제

In [5]:
real_estate

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988,언주로 103
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200610,20,"72,250",5,1988,언주로 103
2,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200610,30,"73,500",8,1988,언주로 103
3,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,200612,9,"76,500",5,1988,언주로 103
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,200605,9,"88,000",3,1987,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...
1082712,서울특별시 중랑구 중화동,274-75,274,75,한영(102),58.87,202003,17,"28,800",6,2003,동일로144길 74
1082713,서울특별시 중랑구 중화동,274-77,274,77,한영(104),70.96,202001,28,"31,200",4,2003,동일로144길 74
1082714,서울특별시 중랑구 중화동,274-77,274,77,한영(104),66.24,202002,3,"28,500",5,2003,동일로144길 74
1082715,서울특별시 중랑구 중화동,274-77,274,77,한영(104),106.21,202003,11,"45,400",6,2003,동일로144길 74
1082716,서울특별시 중랑구 중화동,11-7,11,7,현대휴앤미(102동),64.48,201907,15,"32,800",3,2007,봉화산로27가길 19

In [ ]:
### 아파트의 위도,경도를 구해주는 코드(카카오) ###
import requests; from urllib.parse import urlparse; import json

# 빈 리스트 생성

apt_lat = []
apt_lng = []
apt_address = duple_real_estate.시군구 + " " + duple_real_estate.도로명
for addr in apt_address:
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
    headers = {"Authorization": "KakaoAK 7ff520ce7fc46439d58b8c4fc9eb0c7c"} # Rest API Key
    result = json.loads(str(requests.get(url, headers=headers).text))

    # 주소지를 제대로 못찾을 경우 0으로 입력후 계속 도중에 멈춤 방지
    if len(result['documents']) == 0 or result['documents'][0]['address'] == None : # or 영어로 써야만 적용 
        apt_lat.append(0)
        apt_lng.append(0)
        continue

    match_first = result['documents'][0]['address']
    apt_lat.append(float(match_first['y']))
    apt_lng.append(float(match_first['x']))


index = real_estate.index
for i in range(len(duple_real_estate)):
    duple_real_estate.at[idx[i], '위도'] = apt_lat[i]
    duple_real_estate.at[idx[i], '경도'] = apt_lng[i]