In [1]:
import tensorflow as tf
import keras
import numpy as np
import pandas as pd
from tensorflow.keras import datasets, layers, models, optimizers

Using TensorFlow backend.

In [2]:
train = pd.read_csv('data/train.csv')

In [3]:
train

,id,digit,letter,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,1,5,L,1,1,1,4,3,0,0,...,2,1,0,1,2,4,4,4,3,4
1,2,0,B,0,4,0,0,4,1,1,...,0,3,0,1,4,1,4,2,1,2
2,3,4,L,1,1,2,2,1,1,1,...,3,3,3,0,2,0,3,0,2,2
3,4,9,D,1,2,0,2,0,4,0,...,3,3,2,0,1,4,0,0,1,1
4,5,6,A,3,0,2,4,0,3,0,...,4,4,3,2,1,3,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2044,6,V,2,4,3,4,2,4,4,...,0,2,2,0,0,1,3,1,4,0
2044,2045,1,L,3,2,2,1,1,4,0,...,2,3,4,2,1,2,3,4,1,1
2045,2046,9,A,4,0,4,0,2,4,4,...,2,3,1,1,3,4,2,2,0,0
2046,2047,0,Z,2,3,3,0,3,0,4,...,2,3,1,1,0,4,1,4,3,1
2047,2048,5,Z,4,2,2,1,3,0,0,...,4,2,4,0,4,3,2,4,3,4

In [4]:
aa = train.copy()
aa

,id,digit,letter,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,1,5,L,1,1,1,4,3,0,0,...,2,1,0,1,2,4,4,4,3,4
1,2,0,B,0,4,0,0,4,1,1,...,0,3,0,1,4,1,4,2,1,2
2,3,4,L,1,1,2,2,1,1,1,...,3,3,3,0,2,0,3,0,2,2
3,4,9,D,1,2,0,2,0,4,0,...,3,3,2,0,1,4,0,0,1,1
4,5,6,A,3,0,2,4,0,3,0,...,4,4,3,2,1,3,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2044,6,V,2,4,3,4,2,4,4,...,0,2,2,0,0,1,3,1,4,0
2044,2045,1,L,3,2,2,1,1,4,0,...,2,3,4,2,1,2,3,4,1,1
2045,2046,9,A,4,0,4,0,2,4,4,...,2,3,1,1,3,4,2,2,0,0
2046,2047,0,Z,2,3,3,0,3,0,4,...,2,3,1,1,0,4,1,4,3,1
2047,2048,5,Z,4,2,2,1,3,0,0,...,4,2,4,0,4,3,2,4,3,4

In [5]:
ytrain = aa['digit']
ytrain = ytrain.to_frame()
ytrain

      digit
0         5
1         0
2         4
3         9
4         6
...     ...
2043      6
2044      1
2045      9
2046      0
2047      5

[2048 rows x 1 columns]

In [6]:
xtrain = aa.drop(['id', 'digit', 'letter'], axis = 1)
xtrain

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,1,1,1,4,3,0,0,4,4,3,...,2,1,0,1,2,4,4,4,3,4
1,0,4,0,0,4,1,1,1,4,2,...,0,3,0,1,4,1,4,2,1,2
2,1,1,2,2,1,1,1,0,2,1,...,3,3,3,0,2,0,3,0,2,2
3,1,2,0,2,0,4,0,3,4,3,...,3,3,2,0,1,4,0,0,1,1
4,3,0,2,4,0,3,0,4,2,4,...,4,4,3,2,1,3,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2,4,3,4,2,4,4,1,2,1,...,0,2,2,0,0,1,3,1,4,0
2044,3,2,2,1,1,4,0,1,4,2,...,2,3,4,2,1,2,3,4,1,1
2045,4,0,4,0,2,4,4,4,3,4,...,2,3,1,1,3,4,2,2,0,0
2046,2,3,3,0,3,0,4,3,0,1,...,2,3,1,1,0,4,1,4,3,1
2047,4,2,2,1,3,0,0,0,3,2,...,4,2,4,0,4,3,2,4,3,4

In [7]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

In [8]:
ytrain1 = encoder.fit_transform(ytrain)
ytrain1 = ytrain1.toarray()
ytrain1

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [9]:
# digit  디코딩
decoding = np.argmax(ytrain1, axis=1).reshape(-1,1)
decoding = pd.DataFrame(decoding, columns = ['digit'])
decoding

      digit
0         5
1         0
2         4
3         9
4         6
...     ...
2043      6
2044      1
2045      9
2046      0
2047      5

[2048 rows x 1 columns]

In [10]:
xtrain /= 255
xtrain

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.003922,0.003922,0.003922,0.015686,0.011765,0.000000,0.000000,0.015686,0.015686,0.011765,...,0.007843,0.003922,0.000000,0.003922,0.007843,0.015686,0.015686,0.015686,0.011765,0.015686
1,0.000000,0.015686,0.000000,0.000000,0.015686,0.003922,0.003922,0.003922,0.015686,0.007843,...,0.000000,0.011765,0.000000,0.003922,0.015686,0.003922,0.015686,0.007843,0.003922,0.007843
2,0.003922,0.003922,0.007843,0.007843,0.003922,0.003922,0.003922,0.000000,0.007843,0.003922,...,0.011765,0.011765,0.011765,0.000000,0.007843,0.000000,0.011765,0.000000,0.007843,0.007843
3,0.003922,0.007843,0.000000,0.007843,0.000000,0.015686,0.000000,0.011765,0.015686,0.011765,...,0.011765,0.011765,0.007843,0.000000,0.003922,0.015686,0.000000,0.000000,0.003922,0.003922
4,0.011765,0.000000,0.007843,0.015686,0.000000,0.011765,0.000000,0.015686,0.007843,0.015686,...,0.015686,0.015686,0.011765,0.007843,0.003922,0.011765,0.015686,0.011765,0.003922,0.007843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,0.007843,0.015686,0.011765,0.015686,0.007843,0.015686,0.015686,0.003922,0.007843,0.003922,...,0.000000,0.007843,0.007843,0.000000,0.000000,0.003922,0.011765,0.003922,0.015686,0.000000
2044,0.011765,0.007843,0.007843,0.003922,0.003922,0.015686,0.000000,0.003922,0.015686,0.007843,...,0.007843,0.011765,0.015686,0.007843,0.003922,0.007843,0.011765,0.015686,0.003922,0.003922
2045,0.015686,0.000000,0.015686,0.000000,0.007843,0.015686,0.015686,0.015686,0.011765,0.015686,...,0.007843,0.011765,0.003922,0.003922,0.011765,0.015686,0.007843,0.007843,0.000000,0.000000
2046,0.007843,0.011765,0.011765,0.000000,0.011765,0.000000,0.015686,0.011765,0.000000,0.003922,...,0.007843,0.011765,0.003922,0.003922,0.000000,0.015686,0.003922,0.015686,0.011765,0.003922
2047,0.015686,0.007843,0.007843,0.003922,0.011765,0.000000,0.000000,0.000000,0.011765,0.007843,...,0.015686,0.007843,0.015686,0.000000,0.015686,0.011765,0.007843,0.015686,0.011765,0.015686

In [11]:
xtrain = np.array(xtrain)

In [12]:
print(xtrain.shape)
print(ytrain1.shape)

(2048, 784)
(2048, 10)

In [13]:
xtrain = xtrain.reshape((2048, 28, 28, 1))
xtrain = xtrain.astype('float32')
ytrain1 = ytrain1.astype('float32')
# ytrain1 = tf.keras.utils.to_categorical(ytrain1, 10)

In [14]:
xtrain.shape

(2048, 28, 28, 1)

In [15]:
ytrain1.shape

(2048, 10)

In [16]:
test = pd.read_csv('data/test.csv')
test = test.drop(['id', 'letter'], axis = 1)
test /= 255
test = np.array(test)
test = test.reshape((20480, 28, 28, 1))
test = test.astype('float32')

In [17]:
test.shape

(20480, 28, 28, 1)

In [18]:
decoding['digit'].unique()

array([5, 0, 4, 9, 6, 8, 1, 3, 2, 7], dtype=int64)

In [19]:
#OPTIMIZER = tf.keras.optimizers.SGD(lr=0.01)
OPTIMIZER = tf.keras.optimizers.Adam(lr = 0.001)

In [20]:

def Create_model():

    model = tf.keras.models.Sequential([
        keras.layers.BatchNormalization(input_shape = (28, 28, 1)),
        # keras.layers.Conv2D(64, (5, 5), activation = 'relu', padding = 'same'),
        # keras.layers.BatchNormalization(),
        # keras.layers.Conv2D(64, (3, 3), activation = 'relu'),
        # keras.layers.MaxPooling2D(2, 2),
        # keras.layers.BatchNormalization(),
        keras.layers.Conv2D(128, (3, 3), activation = 'relu', padding = 'same'),
        keras.layers.BatchNormalization(),
        keras.layers.Conv2D(128, (3, 3), activation = 'relu'),
        keras.layers.MaxPooling2D(2, 2),
        keras.layers.BatchNormalization(),
        keras.layers.Conv2D(256, (3, 3), activation = 'relu', padding = 'same'),
        keras.layers.BatchNormalization(),
        keras.layers.Conv2D(256, (3, 3), activation = 'relu'),
        keras.layers.MaxPooling2D(2, 2),
        #keras.layers.Dropout(0.2),
        keras.layers.Flatten(),
        keras.layers.BatchNormalization(),
        keras.layers.Dense(256, activation = 'relu'),
        #keras.layers.Dropout(0.5),
        keras.layers.BatchNormalization(),
        keras.layers.Dense(10, activation = 'softmax')
    ])

    model.compile(optimizer = OPTIMIZER,
                  loss = 'categorical_crossentropy',
                  metrics = ["accuracy"])

    return model

model = Create_model()
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization (BatchNo (None, 28, 28, 1)         4
_________________________________________________________________
conv2d (Conv2D)              (None, 28, 28, 128)       1280
_________________________________________________________________
batch_normalization_1 (Batch (None, 28, 28, 128)       512
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 26, 26, 128)       147584
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 13, 13, 128)       0
_________________________________________________________________
batch_normalization_2 (Batch (None, 13, 13, 128)       512
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 13, 13, 256)       295168
_________________________________________________________________
batch_normalization_3 (Batch (None, 13, 13, 256)       1024
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 11, 11, 256)       590080
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 256)         0
_________________________________________________________________
flatten (Flatten)            (None, 6400)              0
_________________________________________________________________
batch_normalization_4 (Batch (None, 6400)              25600
_________________________________________________________________
dense (Dense)                (None, 256)               1638656
_________________________________________________________________
batch_normalization_5 (Batch (None, 256)               1024
_________________________________________________________________
dense_1 (Dense)              (None, 10)                2570
=================================================================
Total params: 2,704,014
Trainable params: 2,689,676
Non-trainable params: 14,338
_________________________________________________________________

In [21]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
checkpoint = tf.keras.callbacks.ModelCheckpoint('best_model.h5', save_weights_only=True, save_best_only=True)

In [22]:
model.fit(xtrain, ytrain1,
          batch_size = 26,
          epochs = 20,
          verbose = 1,
          validation_split = 0.10,
          callbacks = [checkpoint])

Epoch 1/20
71/71 [==============================] - 15s 215ms/step - loss: 1.8869 - accuracy: 0.4471 - val_loss: 8.6938 - val_accuracy: 0.0976
Epoch 2/20
71/71 [==============================] - 15s 207ms/step - loss: 0.7711 - accuracy: 0.7412 - val_loss: 9.7925 - val_accuracy: 0.0976
Epoch 3/20
71/71 [==============================] - 15s 210ms/step - loss: 0.4627 - accuracy: 0.8443 - val_loss: 10.8013 - val_accuracy: 0.0976
Epoch 4/20
71/71 [==============================] - 15s 212ms/step - loss: 0.2714 - accuracy: 0.9154 - val_loss: 12.0563 - val_accuracy: 0.0976
Epoch 5/20
71/71 [==============================] - 15s 211ms/step - loss: 0.1741 - accuracy: 0.9479 - val_loss: 8.8721 - val_accuracy: 0.0976
Epoch 6/20
71/71 [==============================] - 15s 216ms/step - loss: 0.1086 - accuracy: 0.9767 - val_loss: 7.3830 - val_accuracy: 0.1073
Epoch 7/20
71/71 [==============================] - 15s 213ms/step - loss: 0.0954 - accuracy: 0.9734 - val_loss: 3.9921 - val_accuracy: 0.2976
Epoch 8/20
71/71 [==============================] - 15s 215ms/step - loss: 0.0565 - accuracy: 0.9891 - val_loss: 2.2379 - val_accuracy: 0.4634
Epoch 9/20
71/71 [==============================] - 17s 234ms/step - loss: 0.0296 - accuracy: 0.9967 - val_loss: 1.1768 - val_accuracy: 0.6829
Epoch 10/20
71/71 [==============================] - 15s 217ms/step - loss: 0.0200 - accuracy: 0.9984 - val_loss: 0.8706 - val_accuracy: 0.7366
Epoch 11/20
71/71 [==============================] - 15s 212ms/step - loss: 0.0218 - accuracy: 0.9967 - val_loss: 0.5907 - val_accuracy: 0.8293
Epoch 12/20
71/71 [==============================] - 15s 210ms/step - loss: 0.0213 - accuracy: 0.9962 - val_loss: 0.5744 - val_accuracy: 0.8244
Epoch 13/20
71/71 [==============================] - 15s 210ms/step - loss: 0.0267 - accuracy: 0.9957 - val_loss: 0.5323 - val_accuracy: 0.8244
Epoch 14/20
71/71 [==============================] - 15s 210ms/step - loss: 0.0401 - accuracy: 0.9891 - val_loss: 0.7818 - val_accuracy: 0.7902
Epoch 15/20
71/71 [==============================] - 15s 210ms/step - loss: 0.0890 - accuracy: 0.9702 - val_loss: 0.7200 - val_accuracy: 0.8195
Epoch 16/20
71/71 [==============================] - 16s 228ms/step - loss: 0.1458 - accuracy: 0.9474 - val_loss: 0.9806 - val_accuracy: 0.7366
Epoch 17/20
71/71 [==============================] - 15s 214ms/step - loss: 0.1040 - accuracy: 0.9636 - val_loss: 0.7596 - val_accuracy: 0.8244
Epoch 18/20
71/71 [==============================] - 15s 212ms/step - loss: 0.0440 - accuracy: 0.9897 - val_loss: 0.5836 - val_accuracy: 0.8537
Epoch 19/20
71/71 [==============================] - 16s 223ms/step - loss: 0.0334 - accuracy: 0.9919 - val_loss: 0.7073 - val_accuracy: 0.8146
Epoch 20/20
71/71 [==============================] - 16s 220ms/step - loss: 0.0334 - accuracy: 0.9924 - val_loss: 0.5791 - val_accuracy: 0.8488

In [23]:
y_pred = model.predict(test, batch_size=26)
# digit  디코딩
decoding = np.argmax(y_pred, axis=1).reshape(-1,1)
decoding = pd.DataFrame(decoding, columns = ['digit'])
decoding

       digit
0          6
1          9
2          6
3          0
4          3
...      ...
20475      4
20476      1
20477      6
20478      3
20479      0

[20480 rows x 1 columns]

In [24]:
model.load_weights('best_model.h5')
y_pred = model.predict(test, batch_size=26)
# digit  디코딩
decoding = np.argmax(y_pred, axis=1).reshape(-1,1)
decoding = pd.DataFrame(decoding, columns = ['digit'])
decoding

       digit
0          6
1          9
2          6
3          0
4          3
...      ...
20475      4
20476      1
20477      6
20478      5
20479      0

[20480 rows x 1 columns]

In [25]:
sub = pd.read_csv('data/submission.csv')
sub = sub.drop(['digit'], axis = 1)
sub = pd.concat([sub, decoding], axis = 1)
sub.to_csv('sub.csv', index = False, encoding = 'utf-8')
sub

          id  digit
0       2049      6
1       2050      9
2       2051      6
3       2052      0
4       2053      3
...      ...    ...
20475  22524      4
20476  22525      1
20477  22526      6
20478  22527      5
20479  22528      0

[20480 rows x 2 columns]