In [1]:
import tensorflow as tf
from tensorflow.keras import datasets, layers, models, optimizers

In [2]:
(X_train, y_train), (X_test, y_test) = datasets.mnist.load_data()

In [3]:
# 크기 조정
X_train = X_train.reshape((60000, 28, 28, 1))
X_test = X_test.reshape((10000, 28, 28, 1))

In [4]:
# 정규화
X_train, X_test = X_train / 255, X_test / 255

In [5]:
# 형식 변환
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')

In [6]:
y_train = tf.keras.utils.to_categorical(y_train, 10)
y_test = tf.keras.utils.to_categorical(y_test, 10)

In [7]:
y_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]], dtype=float32)

In [8]:
OPTIMIZER = tf.keras.optimizers.Adam()
EPOCHS = 5
BATCH_SIZE = 128
VERBOSE = 1
VALIDATION_SPLIT = 0.95

IMG_ROWS, IMG_COLS = 28,28
INPUT_SHAPE = (IMG_ROWS, IMG_COLS, 1)
NB_CLASSES = 10

In [9]:
def build(input_shape, classes):
    model = models.Sequential()
    model.add(layers.Convolution2D(20, (5, 5), activation = 'relu', input_shape = input_shape))
    model.add(layers.MaxPooling2D(pool_size = (2, 2), strides = (2, 2)))
    model.add(layers.Convolution2D(50, (5, 5), activation = 'relu'))
    model.add(layers.MaxPooling2D(pool_size = (2, 2), strides = (2, 2)))
    model.add(layers.Flatten())
    model.add(layers.Dense(500, activation = 'relu'))
    model.add(layers.Dense(classes, activation = 'softmax'))
    
    return model

In [10]:
OPTIMIZER = tf.keras.optimizers.Adam()
model = build(input_shape = (28, 28, 1), classes = 10)

In [11]:
model.compile(optimizer = OPTIMIZER, loss = 'categorical_crossentropy', metrics = ["accuracy"])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 24, 24, 20)        520
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 20)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 8, 8, 50)          25050
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 50)          0
_________________________________________________________________
flatten (Flatten)            (None, 800)               0
_________________________________________________________________
dense (Dense)                (None, 500)               400500
_________________________________________________________________
dense_1 (Dense)              (None, 10)                5010
=================================================================
Total params: 431,080
Trainable params: 431,080
Non-trainable params: 0
_________________________________________________________________

In [12]:
callbacks = [tf.keras.callbacks.TensorBoard(log_dir = './logs')]

In [13]:
history = model.fit(X_train, y_train,
                    batch_size = BATCH_SIZE,
                    epochs = 5,
                    verbose = 1,
                    validation_split = 0.95,
                    callbacks = callbacks)

score = model.evaluate(X_test, y_test, verbose = 1)
print("\nTest score:", score[0])
print('Test accuracy', score[1])

Epoch 1/5
24/24 [==============================] - 4s 171ms/step - loss: 1.1719 - accuracy: 0.6740 - val_loss: 0.4984 - val_accuracy: 0.8458
Epoch 2/5
24/24 [==============================] - 4s 166ms/step - loss: 0.3278 - accuracy: 0.9057 - val_loss: 0.2668 - val_accuracy: 0.9198
Epoch 3/5
24/24 [==============================] - 4s 157ms/step - loss: 0.1904 - accuracy: 0.9470 - val_loss: 0.2255 - val_accuracy: 0.9287
Epoch 4/5
24/24 [==============================] - 4s 160ms/step - loss: 0.1556 - accuracy: 0.9597 - val_loss: 0.1890 - val_accuracy: 0.9412
Epoch 5/5
24/24 [==============================] - 4s 164ms/step - loss: 0.1159 - accuracy: 0.9677 - val_loss: 0.1565 - val_accuracy: 0.9508
313/313 [==============================] - 1s 3ms/step - loss: 0.1320 - accuracy: 0.9584

Test score: 0.1320219188928604
Test accuracy 0.9584000110626221

In [15]:
import pandas as pd
train = pd.read_csv('data/train.csv')

In [16]:
train

,id,digit,letter,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,1,5,L,1,1,1,4,3,0,0,...,2,1,0,1,2,4,4,4,3,4
1,2,0,B,0,4,0,0,4,1,1,...,0,3,0,1,4,1,4,2,1,2
2,3,4,L,1,1,2,2,1,1,1,...,3,3,3,0,2,0,3,0,2,2
3,4,9,D,1,2,0,2,0,4,0,...,3,3,2,0,1,4,0,0,1,1
4,5,6,A,3,0,2,4,0,3,0,...,4,4,3,2,1,3,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2044,6,V,2,4,3,4,2,4,4,...,0,2,2,0,0,1,3,1,4,0
2044,2045,1,L,3,2,2,1,1,4,0,...,2,3,4,2,1,2,3,4,1,1
2045,2046,9,A,4,0,4,0,2,4,4,...,2,3,1,1,3,4,2,2,0,0
2046,2047,0,Z,2,3,3,0,3,0,4,...,2,3,1,1,0,4,1,4,3,1
2047,2048,5,Z,4,2,2,1,3,0,0,...,4,2,4,0,4,3,2,4,3,4