In [69]:
import tensorflow as tf
import keras
import numpy as np
import pandas as pd
from tensorflow.keras import datasets, layers, models, optimizers

Using TensorFlow backend.

In [11]:
train = pd.read_csv('data/train.csv')

In [12]:
train

,id,digit,letter,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,1,5,L,1,1,1,4,3,0,0,...,2,1,0,1,2,4,4,4,3,4
1,2,0,B,0,4,0,0,4,1,1,...,0,3,0,1,4,1,4,2,1,2
2,3,4,L,1,1,2,2,1,1,1,...,3,3,3,0,2,0,3,0,2,2
3,4,9,D,1,2,0,2,0,4,0,...,3,3,2,0,1,4,0,0,1,1
4,5,6,A,3,0,2,4,0,3,0,...,4,4,3,2,1,3,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2044,6,V,2,4,3,4,2,4,4,...,0,2,2,0,0,1,3,1,4,0
2044,2045,1,L,3,2,2,1,1,4,0,...,2,3,4,2,1,2,3,4,1,1
2045,2046,9,A,4,0,4,0,2,4,4,...,2,3,1,1,3,4,2,2,0,0
2046,2047,0,Z,2,3,3,0,3,0,4,...,2,3,1,1,0,4,1,4,3,1
2047,2048,5,Z,4,2,2,1,3,0,0,...,4,2,4,0,4,3,2,4,3,4

In [13]:
aa = train.copy()
aa

,id,digit,letter,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,1,5,L,1,1,1,4,3,0,0,...,2,1,0,1,2,4,4,4,3,4
1,2,0,B,0,4,0,0,4,1,1,...,0,3,0,1,4,1,4,2,1,2
2,3,4,L,1,1,2,2,1,1,1,...,3,3,3,0,2,0,3,0,2,2
3,4,9,D,1,2,0,2,0,4,0,...,3,3,2,0,1,4,0,0,1,1
4,5,6,A,3,0,2,4,0,3,0,...,4,4,3,2,1,3,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2044,6,V,2,4,3,4,2,4,4,...,0,2,2,0,0,1,3,1,4,0
2044,2045,1,L,3,2,2,1,1,4,0,...,2,3,4,2,1,2,3,4,1,1
2045,2046,9,A,4,0,4,0,2,4,4,...,2,3,1,1,3,4,2,2,0,0
2046,2047,0,Z,2,3,3,0,3,0,4,...,2,3,1,1,0,4,1,4,3,1
2047,2048,5,Z,4,2,2,1,3,0,0,...,4,2,4,0,4,3,2,4,3,4

In [14]:
ytrain = aa['digit']
ytrain = ytrain.to_frame()
ytrain

      digit
0         5
1         0
2         4
3         9
4         6
...     ...
2043      6
2044      1
2045      9
2046      0
2047      5

[2048 rows x 1 columns]

In [15]:
xtrain = aa.drop(['id', 'digit', 'letter'], axis = 1)
xtrain

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,1,1,1,4,3,0,0,4,4,3,...,2,1,0,1,2,4,4,4,3,4
1,0,4,0,0,4,1,1,1,4,2,...,0,3,0,1,4,1,4,2,1,2
2,1,1,2,2,1,1,1,0,2,1,...,3,3,3,0,2,0,3,0,2,2
3,1,2,0,2,0,4,0,3,4,3,...,3,3,2,0,1,4,0,0,1,1
4,3,0,2,4,0,3,0,4,2,4,...,4,4,3,2,1,3,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2,4,3,4,2,4,4,1,2,1,...,0,2,2,0,0,1,3,1,4,0
2044,3,2,2,1,1,4,0,1,4,2,...,2,3,4,2,1,2,3,4,1,1
2045,4,0,4,0,2,4,4,4,3,4,...,2,3,1,1,3,4,2,2,0,0
2046,2,3,3,0,3,0,4,3,0,1,...,2,3,1,1,0,4,1,4,3,1
2047,4,2,2,1,3,0,0,0,3,2,...,4,2,4,0,4,3,2,4,3,4

In [16]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

In [17]:
ytrain1 = encoder.fit_transform(ytrain)
ytrain1 = ytrain1.toarray()
ytrain1

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [18]:
# digit  디코딩
decoding = np.argmax(ytrain1, axis=1).reshape(-1,1)
decoding = pd.DataFrame(decoding, columns = ['digit'])
decoding

      digit
0         5
1         0
2         4
3         9
4         6
...     ...
2043      6
2044      1
2045      9
2046      0
2047      5

[2048 rows x 1 columns]

In [19]:
xtrain /= 255
xtrain

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.003922,0.003922,0.003922,0.015686,0.011765,0.000000,0.000000,0.015686,0.015686,0.011765,...,0.007843,0.003922,0.000000,0.003922,0.007843,0.015686,0.015686,0.015686,0.011765,0.015686
1,0.000000,0.015686,0.000000,0.000000,0.015686,0.003922,0.003922,0.003922,0.015686,0.007843,...,0.000000,0.011765,0.000000,0.003922,0.015686,0.003922,0.015686,0.007843,0.003922,0.007843
2,0.003922,0.003922,0.007843,0.007843,0.003922,0.003922,0.003922,0.000000,0.007843,0.003922,...,0.011765,0.011765,0.011765,0.000000,0.007843,0.000000,0.011765,0.000000,0.007843,0.007843
3,0.003922,0.007843,0.000000,0.007843,0.000000,0.015686,0.000000,0.011765,0.015686,0.011765,...,0.011765,0.011765,0.007843,0.000000,0.003922,0.015686,0.000000,0.000000,0.003922,0.003922
4,0.011765,0.000000,0.007843,0.015686,0.000000,0.011765,0.000000,0.015686,0.007843,0.015686,...,0.015686,0.015686,0.011765,0.007843,0.003922,0.011765,0.015686,0.011765,0.003922,0.007843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,0.007843,0.015686,0.011765,0.015686,0.007843,0.015686,0.015686,0.003922,0.007843,0.003922,...,0.000000,0.007843,0.007843,0.000000,0.000000,0.003922,0.011765,0.003922,0.015686,0.000000
2044,0.011765,0.007843,0.007843,0.003922,0.003922,0.015686,0.000000,0.003922,0.015686,0.007843,...,0.007843,0.011765,0.015686,0.007843,0.003922,0.007843,0.011765,0.015686,0.003922,0.003922
2045,0.015686,0.000000,0.015686,0.000000,0.007843,0.015686,0.015686,0.015686,0.011765,0.015686,...,0.007843,0.011765,0.003922,0.003922,0.011765,0.015686,0.007843,0.007843,0.000000,0.000000
2046,0.007843,0.011765,0.011765,0.000000,0.011765,0.000000,0.015686,0.011765,0.000000,0.003922,...,0.007843,0.011765,0.003922,0.003922,0.000000,0.015686,0.003922,0.015686,0.011765,0.003922
2047,0.015686,0.007843,0.007843,0.003922,0.011765,0.000000,0.000000,0.000000,0.011765,0.007843,...,0.015686,0.007843,0.015686,0.000000,0.015686,0.011765,0.007843,0.015686,0.011765,0.015686

In [20]:
xtrain = np.array(xtrain)

In [21]:
print(xtrain.shape)
print(ytrain1.shape)

(2048, 784)
(2048, 10)

In [22]:
xtrain = xtrain.reshape((2048, 28, 28, 1))
xtrain = xtrain.astype('float32')
ytrain1 = ytrain1.astype('float32')
# ytrain1 = tf.keras.utils.to_categorical(ytrain1, 10)

In [25]:
xtrain.shape

(2048, 28, 28, 1)

In [26]:
ytrain1.shape

(2048, 10)

In [32]:
test = pd.read_csv('data/test.csv')
test = test.drop(['id', 'letter'], axis = 1)
test /= 255
test = np.array(test)
test = test.reshape((20480, 28, 28, 1))
test = test.astype('float32')

In [33]:
test.shape

(20480, 28, 28, 1)

In [38]:
decoding['digit'].unique()

array([5, 0, 4, 9, 6, 8, 1, 3, 2, 7], dtype=int64)

In [94]:
#OPTIMIZER = tf.keras.optimizers.SGD(lr=0.1)
OPTIMIZER = tf.keras.optimizers.Adam(lr = 0.001)

In [95]:

def Create_model():

    model = tf.keras.models.Sequential([
        keras.layers.Conv2D(64, (5, 5), activation = 'relu', padding = 'same', input_shape = (28, 28, 1)),
        keras.layers.Conv2D(64, (3, 3), activation = 'relu'),
        keras.layers.MaxPooling2D(2, 2),
        keras.layers.Conv2D(128, (3, 3), activation = 'relu', padding = 'same'),
        keras.layers.Conv2D(128, (3, 3), activation = 'relu'),
        keras.layers.MaxPooling2D(2, 2),
        #cnn.add(layers.Conv2D(256, (3, 3), activation = 'relu', padding = 'same'))
        #cnn.add(layers.Conv2D(256, (3, 3), activation = 'relu'))
        #cnn.add(layers.MaxPooling2D(2, 2))
        keras.layers.Dropout(0.2),
        keras.layers.Flatten(),
        keras.layers.Dense(256, activation = 'relu'),
        keras.layers.Dropout(0.5),
        keras.layers.Dense(10, activation = 'softmax')
    ])

    model.compile(optimizer = OPTIMIZER,
                  loss = 'categorical_crossentropy',
                  metrics = ["accuracy"])

    return model

model = Create_model()
model.summary()

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_50 (Conv2D)           (None, 28, 28, 64)        1664
_________________________________________________________________
conv2d_51 (Conv2D)           (None, 26, 26, 64)        36928
_________________________________________________________________
max_pooling2d_26 (MaxPooling (None, 13, 13, 64)        0
_________________________________________________________________
conv2d_52 (Conv2D)           (None, 13, 13, 128)       73856
_________________________________________________________________
conv2d_53 (Conv2D)           (None, 11, 11, 128)       147584
_________________________________________________________________
max_pooling2d_27 (MaxPooling (None, 5, 5, 128)         0
_________________________________________________________________
dropout_24 (Dropout)         (None, 5, 5, 128)         0
_________________________________________________________________
flatten_13 (Flatten)         (None, 3200)              0
_________________________________________________________________
dense_26 (Dense)             (None, 256)               819456
_________________________________________________________________
dropout_25 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_27 (Dense)             (None, 10)                2570
=================================================================
Total params: 1,082,058
Trainable params: 1,082,058
Non-trainable params: 0
_________________________________________________________________

In [96]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
checkpoint = tf.keras.callbacks.ModelCheckpoint('best_model.h5', save_weights_only=True, save_best_only=True)

In [97]:
model.fit(xtrain, ytrain1,
          batch_size = 26,
          epochs = 100,
          verbose = 1,
          validation_split = 0.70,
          callbacks = [checkpoint])

Epoch 1/100
24/24 [==============================] - 2s 89ms/step - loss: 2.3064 - accuracy: 0.1270 - val_loss: 2.2986 - val_accuracy: 0.1074
Epoch 2/100
24/24 [==============================] - 2s 92ms/step - loss: 2.2532 - accuracy: 0.1564 - val_loss: 2.1859 - val_accuracy: 0.1778
Epoch 3/100
24/24 [==============================] - 2s 86ms/step - loss: 2.1037 - accuracy: 0.2557 - val_loss: 1.9399 - val_accuracy: 0.2978
Epoch 4/100
24/24 [==============================] - 2s 86ms/step - loss: 1.8439 - accuracy: 0.3664 - val_loss: 1.7142 - val_accuracy: 0.4135
Epoch 5/100
24/24 [==============================] - 2s 90ms/step - loss: 1.6462 - accuracy: 0.4251 - val_loss: 1.7151 - val_accuracy: 0.4156
Epoch 6/100
24/24 [==============================] - 2s 85ms/step - loss: 1.6069 - accuracy: 0.4463 - val_loss: 1.5282 - val_accuracy: 0.4644
Epoch 7/100
24/24 [==============================] - 2s 87ms/step - loss: 1.4153 - accuracy: 0.5016 - val_loss: 1.4643 - val_accuracy: 0.4979
Epoch 8/100
24/24 [==============================] - 2s 91ms/step - loss: 1.3715 - accuracy: 0.5098 - val_loss: 1.4635 - val_accuracy: 0.5063
Epoch 9/100
24/24 [==============================] - 2s 86ms/step - loss: 1.2624 - accuracy: 0.5831 - val_loss: 1.3933 - val_accuracy: 0.5307
Epoch 10/100
24/24 [==============================] - 2s 89ms/step - loss: 1.0683 - accuracy: 0.6287 - val_loss: 1.3177 - val_accuracy: 0.5516
Epoch 11/100
24/24 [==============================] - 2s 89ms/step - loss: 0.9341 - accuracy: 0.6938 - val_loss: 1.1798 - val_accuracy: 0.5983
Epoch 12/100
24/24 [==============================] - 2s 86ms/step - loss: 0.7879 - accuracy: 0.7248 - val_loss: 1.2070 - val_accuracy: 0.5976
Epoch 13/100
24/24 [==============================] - 2s 89ms/step - loss: 0.6076 - accuracy: 0.8046 - val_loss: 1.0943 - val_accuracy: 0.6283
Epoch 14/100
24/24 [==============================] - 2s 85ms/step - loss: 0.5619 - accuracy: 0.8241 - val_loss: 1.0988 - val_accuracy: 0.6360
Epoch 15/100
24/24 [==============================] - 2s 85ms/step - loss: 0.4397 - accuracy: 0.8583 - val_loss: 1.2171 - val_accuracy: 0.6499
Epoch 16/100
24/24 [==============================] - 2s 89ms/step - loss: 0.3907 - accuracy: 0.8697 - val_loss: 1.1568 - val_accuracy: 0.6478
Epoch 17/100
24/24 [==============================] - 2s 86ms/step - loss: 0.3064 - accuracy: 0.8893 - val_loss: 1.1150 - val_accuracy: 0.6604
Epoch 18/100
24/24 [==============================] - 2s 86ms/step - loss: 0.2995 - accuracy: 0.8974 - val_loss: 1.2091 - val_accuracy: 0.6722
Epoch 19/100
24/24 [==============================] - 2s 86ms/step - loss: 0.2476 - accuracy: 0.9218 - val_loss: 1.4304 - val_accuracy: 0.6597
Epoch 20/100
24/24 [==============================] - 2s 85ms/step - loss: 0.1599 - accuracy: 0.9414 - val_loss: 1.3272 - val_accuracy: 0.6653
Epoch 21/100
24/24 [==============================] - 2s 85ms/step - loss: 0.2021 - accuracy: 0.9332 - val_loss: 1.5457 - val_accuracy: 0.6388
Epoch 22/100
24/24 [==============================] - 2s 85ms/step - loss: 0.1520 - accuracy: 0.9430 - val_loss: 1.6203 - val_accuracy: 0.6325
Epoch 23/100
24/24 [==============================] - 2s 85ms/step - loss: 0.1509 - accuracy: 0.9479 - val_loss: 1.4490 - val_accuracy: 0.6583
Epoch 24/100
24/24 [==============================] - 2s 87ms/step - loss: 0.1422 - accuracy: 0.9593 - val_loss: 1.5490 - val_accuracy: 0.6541
Epoch 25/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0986 - accuracy: 0.9674 - val_loss: 1.5550 - val_accuracy: 0.6702
Epoch 26/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0873 - accuracy: 0.9707 - val_loss: 1.6621 - val_accuracy: 0.6583
Epoch 27/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0662 - accuracy: 0.9870 - val_loss: 1.5984 - val_accuracy: 0.6492
Epoch 28/100
24/24 [==============================] - 2s 85ms/step - loss: 0.1013 - accuracy: 0.9593 - val_loss: 1.9764 - val_accuracy: 0.6541
Epoch 29/100
24/24 [==============================] - 2s 86ms/step - loss: 0.1086 - accuracy: 0.9577 - val_loss: 1.7546 - val_accuracy: 0.6520
Epoch 30/100
24/24 [==============================] - 2s 86ms/step - loss: 0.1084 - accuracy: 0.9707 - val_loss: 1.5799 - val_accuracy: 0.6646
Epoch 31/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0722 - accuracy: 0.9723 - val_loss: 1.7780 - val_accuracy: 0.6562
Epoch 32/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0861 - accuracy: 0.9707 - val_loss: 1.6297 - val_accuracy: 0.6715
Epoch 33/100
24/24 [==============================] - 2s 85ms/step - loss: 0.1075 - accuracy: 0.9707 - val_loss: 1.8572 - val_accuracy: 0.6492
Epoch 34/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0793 - accuracy: 0.9788 - val_loss: 1.5886 - val_accuracy: 0.6632
Epoch 35/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0710 - accuracy: 0.9723 - val_loss: 1.6934 - val_accuracy: 0.6625
Epoch 36/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0712 - accuracy: 0.9691 - val_loss: 1.5097 - val_accuracy: 0.6743
Epoch 37/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0561 - accuracy: 0.9853 - val_loss: 1.5351 - val_accuracy: 0.6653
Epoch 38/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0561 - accuracy: 0.9837 - val_loss: 1.7876 - val_accuracy: 0.6667
Epoch 39/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0692 - accuracy: 0.9756 - val_loss: 1.6387 - val_accuracy: 0.6646
Epoch 40/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0671 - accuracy: 0.9805 - val_loss: 1.9775 - val_accuracy: 0.6444
Epoch 41/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0711 - accuracy: 0.9756 - val_loss: 1.6675 - val_accuracy: 0.6646
Epoch 42/100
24/24 [==============================] - 2s 88ms/step - loss: 0.0574 - accuracy: 0.9805 - val_loss: 1.7029 - val_accuracy: 0.6715
Epoch 43/100
24/24 [==============================] - 2s 88ms/step - loss: 0.0407 - accuracy: 0.9837 - val_loss: 1.8963 - val_accuracy: 0.6492
Epoch 44/100
24/24 [==============================] - 2s 88ms/step - loss: 0.0541 - accuracy: 0.9853 - val_loss: 1.6952 - val_accuracy: 0.6653
Epoch 45/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0544 - accuracy: 0.9821 - val_loss: 1.8007 - val_accuracy: 0.6611
Epoch 46/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0475 - accuracy: 0.9837 - val_loss: 1.8165 - val_accuracy: 0.6771
Epoch 47/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0359 - accuracy: 0.9870 - val_loss: 1.9907 - val_accuracy: 0.6667
Epoch 48/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0472 - accuracy: 0.9837 - val_loss: 1.8935 - val_accuracy: 0.6834
Epoch 49/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0402 - accuracy: 0.9853 - val_loss: 1.8822 - val_accuracy: 0.6813
Epoch 50/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0252 - accuracy: 0.9919 - val_loss: 1.9208 - val_accuracy: 0.6841
Epoch 51/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0355 - accuracy: 0.9919 - val_loss: 2.1268 - val_accuracy: 0.6736
Epoch 52/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0638 - accuracy: 0.9805 - val_loss: 1.7206 - val_accuracy: 0.6841
Epoch 53/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0363 - accuracy: 0.9853 - val_loss: 2.0022 - val_accuracy: 0.6757
Epoch 54/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0508 - accuracy: 0.9870 - val_loss: 1.6246 - val_accuracy: 0.6813
Epoch 55/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0557 - accuracy: 0.9853 - val_loss: 1.7035 - val_accuracy: 0.6750
Epoch 56/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0314 - accuracy: 0.9870 - val_loss: 1.8431 - val_accuracy: 0.6653
Epoch 57/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0114 - accuracy: 0.9984 - val_loss: 2.0390 - val_accuracy: 0.6715
Epoch 58/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0363 - accuracy: 0.9902 - val_loss: 2.1789 - val_accuracy: 0.6569
Epoch 59/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0557 - accuracy: 0.9805 - val_loss: 2.1027 - val_accuracy: 0.6569
Epoch 60/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0452 - accuracy: 0.9837 - val_loss: 2.2392 - val_accuracy: 0.6464
Epoch 61/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0194 - accuracy: 0.9935 - val_loss: 1.8819 - val_accuracy: 0.6743
Epoch 62/100
24/24 [==============================] - 2s 90ms/step - loss: 0.0161 - accuracy: 0.9935 - val_loss: 2.2172 - val_accuracy: 0.6646
Epoch 63/100
24/24 [==============================] - 2s 91ms/step - loss: 0.0369 - accuracy: 0.9902 - val_loss: 2.0856 - val_accuracy: 0.6646
Epoch 64/100
24/24 [==============================] - 2s 90ms/step - loss: 0.0173 - accuracy: 0.9967 - val_loss: 1.8497 - val_accuracy: 0.6960
Epoch 65/100
24/24 [==============================] - 2s 90ms/step - loss: 0.0168 - accuracy: 0.9951 - val_loss: 1.9339 - val_accuracy: 0.6848
Epoch 66/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0335 - accuracy: 0.9853 - val_loss: 2.2940 - val_accuracy: 0.6618
Epoch 67/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0179 - accuracy: 0.9967 - val_loss: 1.8837 - val_accuracy: 0.6904
Epoch 68/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0358 - accuracy: 0.9821 - val_loss: 2.1568 - val_accuracy: 0.6743
Epoch 69/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0574 - accuracy: 0.9853 - val_loss: 1.8123 - val_accuracy: 0.6785
Epoch 70/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0505 - accuracy: 0.9805 - val_loss: 1.7294 - val_accuracy: 0.6785
Epoch 71/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0270 - accuracy: 0.9919 - val_loss: 1.8488 - val_accuracy: 0.6827
Epoch 72/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0208 - accuracy: 0.9919 - val_loss: 1.7225 - val_accuracy: 0.7029
Epoch 73/100
24/24 [==============================] - 2s 91ms/step - loss: 0.0318 - accuracy: 0.9919 - val_loss: 1.9426 - val_accuracy: 0.6869
Epoch 74/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0592 - accuracy: 0.9870 - val_loss: 1.8550 - val_accuracy: 0.6778
Epoch 75/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0588 - accuracy: 0.9837 - val_loss: 1.7540 - val_accuracy: 0.6869
Epoch 76/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0309 - accuracy: 0.9919 - val_loss: 1.6724 - val_accuracy: 0.6932
Epoch 77/100
24/24 [==============================] - 2s 92ms/step - loss: 0.0125 - accuracy: 0.9967 - val_loss: 1.8125 - val_accuracy: 0.6876
Epoch 78/100
24/24 [==============================] - 2s 92ms/step - loss: 0.0174 - accuracy: 0.9967 - val_loss: 1.8712 - val_accuracy: 0.6960
Epoch 79/100
24/24 [==============================] - 2s 94ms/step - loss: 0.0160 - accuracy: 0.9967 - val_loss: 2.0498 - val_accuracy: 0.6939
Epoch 80/100
24/24 [==============================] - 2s 92ms/step - loss: 0.0104 - accuracy: 0.9967 - val_loss: 2.1411 - val_accuracy: 0.6904
Epoch 81/100
24/24 [==============================] - 2s 93ms/step - loss: 0.0244 - accuracy: 0.9902 - val_loss: 2.6735 - val_accuracy: 0.6660
Epoch 82/100
24/24 [==============================] - 2s 93ms/step - loss: 0.0251 - accuracy: 0.9919 - val_loss: 2.0774 - val_accuracy: 0.6806
Epoch 83/100
24/24 [==============================] - 2s 92ms/step - loss: 0.0150 - accuracy: 0.9951 - val_loss: 2.4486 - val_accuracy: 0.6576
Epoch 84/100
24/24 [==============================] - 2s 94ms/step - loss: 0.0415 - accuracy: 0.9870 - val_loss: 1.9965 - val_accuracy: 0.6799
Epoch 85/100
24/24 [==============================] - 2s 92ms/step - loss: 0.0295 - accuracy: 0.9902 - val_loss: 2.4069 - val_accuracy: 0.6715
Epoch 86/100
24/24 [==============================] - 2s 94ms/step - loss: 0.0226 - accuracy: 0.9902 - val_loss: 2.1404 - val_accuracy: 0.6722
Epoch 87/100
24/24 [==============================] - 2s 92ms/step - loss: 0.0250 - accuracy: 0.9886 - val_loss: 2.2166 - val_accuracy: 0.6757
Epoch 88/100
24/24 [==============================] - 2s 89ms/step - loss: 0.0191 - accuracy: 0.9951 - val_loss: 2.6331 - val_accuracy: 0.6618
Epoch 89/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0388 - accuracy: 0.9853 - val_loss: 2.1696 - val_accuracy: 0.6702
Epoch 90/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0273 - accuracy: 0.9886 - val_loss: 2.5431 - val_accuracy: 0.6688
Epoch 91/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0347 - accuracy: 0.9853 - val_loss: 2.1395 - val_accuracy: 0.6834
Epoch 92/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0260 - accuracy: 0.9935 - val_loss: 2.0329 - val_accuracy: 0.6611
Epoch 93/100
24/24 [==============================] - 2s 87ms/step - loss: 0.0344 - accuracy: 0.9870 - val_loss: 2.1650 - val_accuracy: 0.6918
Epoch 94/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0292 - accuracy: 0.9886 - val_loss: 2.2857 - val_accuracy: 0.6918
Epoch 95/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0157 - accuracy: 0.9935 - val_loss: 2.2874 - val_accuracy: 0.6925
Epoch 96/100
24/24 [==============================] - 2s 101ms/step - loss: 0.0389 - accuracy: 0.9853 - val_loss: 2.0920 - val_accuracy: 0.6862
Epoch 97/100
24/24 [==============================] - 2s 88ms/step - loss: 0.0214 - accuracy: 0.9935 - val_loss: 1.8901 - val_accuracy: 0.6974
Epoch 98/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0136 - accuracy: 0.9967 - val_loss: 1.9854 - val_accuracy: 0.7043
Epoch 99/100
24/24 [==============================] - 2s 85ms/step - loss: 0.0246 - accuracy: 0.9886 - val_loss: 3.0963 - val_accuracy: 0.6541
Epoch 100/100
24/24 [==============================] - 2s 86ms/step - loss: 0.0669 - accuracy: 0.9739 - val_loss: 2.4064 - val_accuracy: 0.6660

In [ ]:
# best_model = build_model((28, 28, 1))
# #best_model.build(input_shape=(28, 28, 1))
# best_model.load_weights('best_model.h5')
# best_model.compile(optimizer = OPTIMIZER , loss = 'categorical_crossentropy')

# predictions = best_model.predict(test)
# predictions

In [75]:
y_pred = model.predict(test, batch_size=26)
# digit  디코딩
decoding = np.argmax(y_pred, axis=1).reshape(-1,1)
decoding = pd.DataFrame(decoding, columns = ['digit'])
decoding

       digit
0          6
1          8
2          8
3          0
4          3
...      ...
20475      4
20476      1
20477      6
20478      3
20479      2

[20480 rows x 1 columns]

In [76]:
model.load_weights('best_model.h5')
y_pred = model.predict(test, batch_size=26)
# digit  디코딩
decoding = np.argmax(y_pred, axis=1).reshape(-1,1)
decoding = pd.DataFrame(decoding, columns = ['digit'])
decoding

In [ ]:
sub = pd.read_csv('data/submission.csv')
sub = sub.drop(['digit'], axis = 1)
sub = pd.concat([sub, decoding], axis = 1)
sub.to_csv('sub.csv', index = False, encoding = 'utf-8')
sub