3년(Day 0~ Day1094) 동안의 기상 데이터, 발전량(TARGET) 데이터
- Hour - 시간  
- Minute - 분  
- DHI - 수평면 산란일사량(Diffuse Horizontal Irradiance (W/m2))  
- DNI - 직접광(Direct Normal Irradiance (W/m2))  
- WS - 풍속(Wind Speed (m/s))  
- RH - 상대습도(Relative Humidity (%))  
- T - 기온(Temperature (Degree C))  
- Target - 태양광 발전량 (kW)

In [1]:
import pandas as pd
import numpy as np

In [2]:
skip_col = ['TARGET']
solar = pd.read_csv('data/train/train.csv')
solarx = pd.read_csv('data/train/train.csv', usecols = lambda x: x not in skip_col )
solary = pd.read_csv('data/train/train.csv', usecols = skip_col)

In [3]:
xtrain = solarx.copy()
ytrain = solary.copy()

In [4]:
# 대회 규칙 상 최대 input 7일로 규정한다.
# 일수마다 Target의 상관관계 분석
day = solar.iloc[0 : 48]
two_days = solar.iloc[0 : 48*2]
three_days = solar.iloc[0 : 48*3]
four_days = solar.iloc[0 : 48*4]
five_days = solar.iloc[0 : 48*5]
six_days = solar.iloc[0 : 48*6]
week = solar.iloc[0 : 48*7]

In [5]:
# next week
next_week = solar.iloc[48*7 : 48*14]
next_2days = solar.iloc[48*7 : 48*9]
next_2days

     Day  Hour  Minute  DHI  DNI   WS     RH  T  TARGET
336    7     0       0    0    0  4.1  55.67  1     0.0
337    7     0      30    0    0  4.4  55.65  1     0.0
338    7     1       0    0    0  4.7  59.43  1     0.0
339    7     1      30    0    0  4.8  59.41  1     0.0
340    7     2       0    0    0  4.9  62.72  2     0.0
..   ...   ...     ...  ...  ...  ...    ... ..     ...
427    8    21      30    0    0  3.3  81.15 -2     0.0
428    8    22       0    0    0  3.5  79.40 -2     0.0
429    8    22      30    0    0  3.5  79.37 -2     0.0
430    8    23       0    0    0  3.6  78.04 -2     0.0
431    8    23      30    0    0  3.7  78.03 -2     0.0

[96 rows x 9 columns]

In [21]:
next_2days.iloc[48:]

     Day  Hour  Minute  DHI  DNI   WS     RH  T     TARGET
384    8     0       0    0    0  2.5  84.72 -7   0.000000
385    8     0      30    0    0  2.3  84.72 -7   0.000000
386    8     1       0    0    0  2.2  87.32 -7   0.000000
387    8     1      30    0    0  1.9  87.32 -7   0.000000
388    8     2       0    0    0  1.7  84.66 -7   0.000000
389    8     2      30    0    0  1.4  84.63 -7   0.000000
390    8     3       0    0    0  1.2  83.50 -7   0.000000
391    8     3      30    0    0  1.2  83.47 -7   0.000000
392    8     4       0    0    0  1.3  83.38 -7   0.000000
393    8     4      30    0    0  1.4  77.11 -7   0.000000
394    8     5       0    0    0  1.6  78.38 -7   0.000000
395    8     5      30    0    0  1.5  78.37 -7   0.000000
396    8     6       0    0    0  1.4  78.88 -7   0.000000
397    8     6      30    0    0  1.5  78.88 -6   0.000000
398    8     7       0    0    0  1.6  79.35 -6   0.000000
399    8     7      30    0    0  1.8  73.46 -5   0.000000
400    8     8       0   29  488  2.0  74.67 -4   7.132752
401    8     8      30   44  664  1.6  64.19 -2  15.015990
402    8     9       0   86    0  1.2  64.85  0   8.070917
403    8     9      30  123   35  0.8  60.24  0  12.575616
404    8    10       0  159   88  0.5  61.21  1  17.924748
405    8    10      30  182   84  0.9  61.18  2  20.270696
406    8    11       0  205  167  1.3  59.62  3  26.276539
407    8    11      30  213  246  1.4  59.58  3  30.687244
408    8    12       0  224  164  1.5  57.61  3  28.341125
409    8    12      30  221  198  1.5  57.59  3  29.467262
410    8    13       0  205  269  1.5  59.47  4  30.780751
411    8    13      30   79  912  1.4  59.47  4  44.106563
412    8    14       0   75  886  1.3  61.04  4  39.414376
413    8    14      30   69  848  1.2  65.56  3  33.596432
414    8    15       0   60  799  1.1  74.06  2  26.746057
415    8    15      30   50  717  0.9  74.05  1  19.144757
416    8    16       0   37  593  0.8  73.74  0  11.167897
417    8    16      30   20  358  1.0  79.35 -1   3.847805
418    8    17       0    0    0  1.2  80.99 -2   0.000000
419    8    17      30    0    0  1.3  80.97 -2   0.000000
420    8    18       0    0    0  1.5  85.90 -2   0.000000
421    8    18      30    0    0  1.8  85.87 -2   0.000000
422    8    19       0    0    0  2.1  84.91 -2   0.000000
423    8    19      30    0    0  2.4  84.89 -2   0.000000
424    8    20       0    0    0  2.8  83.25 -2   0.000000
425    8    20      30    0    0  3.0  83.23 -2   0.000000
426    8    21       0    0    0  3.2  81.18 -2   0.000000
427    8    21      30    0    0  3.3  81.15 -2   0.000000
428    8    22       0    0    0  3.5  79.40 -2   0.000000
429    8    22      30    0    0  3.5  79.37 -2   0.000000
430    8    23       0    0    0  3.6  78.04 -2   0.000000
431    8    23      30    0    0  3.7  78.03 -2   0.000000

In [6]:
corr = day.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [7]:
corr = two_days.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [8]:
corr = next_2days.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [9]:
corr = three_days.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [10]:
corr = four_days.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [11]:
corr = five_days.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [12]:
corr = six_days.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [13]:
corr = week.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

In [14]:
corr = next_week.corr()
corr_day = corr.TARGET.sort_values(ascending=False).to_frame()
corr_day.style.background_gradient(cmap='magma')

양의 상관관계 : DNI, DHI, T  
음의 상관관계 : RH

In [20]:
# 장마기간의 상관관계를 분석해보자
# 7~8월 = 180 ~ 240 days
# 1day = 48rows

In [22]:
tr = solar.iloc[48*180 : 48 * 187

]
tr2 = solar.iloc[48*187 : 48 * 187]
tr3 = solar.iloc[48*194 : 48 * 187]
tr4 = solar.iloc[48*201 : 48 * 187]
tr5 = solar.iloc[48*208 : 48 * 187]
tr6 = solar.iloc[48*215 : 48 * 187]
tr7 = solar.iloc[48*222 : 48 * 187]
tr8 = solar.iloc[48*229 : 48 * 187]

      Day  Hour  Minute  DHI  DNI   WS      RH   T  TARGET
8640  180     0       0    0    0  1.4   81.69  15     0.0
8641  180     0      30    0    0  1.5   87.15  15     0.0
8642  180     1       0    0    0  1.7   86.73  15     0.0
8643  180     1      30    0    0  1.7   86.72  15     0.0
8644  180     2       0    0    0  1.8   86.82  15     0.0
...   ...   ...     ...  ...  ...  ...     ...  ..     ...
8971  186    21      30    0    0  1.5   96.06  12     0.0
8972  186    22       0    0    0  1.5   95.49  12     0.0
8973  186    22      30    0    0  1.6   95.47  12     0.0
8974  186    23       0    0    0  1.7   95.09  12     0.0
8975  186    23      30    0    0  1.9  100.00  12     0.0

[336 rows x 9 columns]