# Quantile Regression
[참고자료 LINK](https://medium.com/analytics-vidhya/a-tutorial-on-quantile-regression-quantile-random-forests-and-quantile-gbm-d3c651af7516)

3년(Day 0~ Day1094) 동안의 기상 데이터, 발전량(TARGET) 데이터
- Hour - 시간  
- Minute - 분  
- DHI - 수평면 산란일사량(Diffuse Horizontal Irradiance (W/m2))  
- DNI - 직접광(Direct Normal Irradiance (W/m2))  
- WS - 풍속(Wind Speed (m/s))  
- RH - 상대습도(Relative Humidity (%))  
- T - 기온(Temperature (Degree C))  
- Target - 태양광 발전량 (kW)

In [2]:
import pandas as pd
import numpy as np

In [3]:
solar = pd.read_csv('data/train/train.csv')
xtrain = pd.read_csv('data/train/train.csv', usecols = ['DHI', 'DNI', 'T', 'RH', 'TARGET'])
ytrain = pd.read_csv('data/train/train.csv', usecols = ['TARGET'])
solar

        Day  Hour  Minute  DHI  DNI   WS     RH   T  TARGET
0         0     0       0    0    0  1.5  69.08 -12     0.0
1         0     0      30    0    0  1.5  69.06 -12     0.0
2         0     1       0    0    0  1.6  71.78 -12     0.0
3         0     1      30    0    0  1.6  71.75 -12     0.0
4         0     2       0    0    0  1.6  75.20 -12     0.0
...     ...   ...     ...  ...  ...  ...    ...  ..     ...
52555  1094    21      30    0    0  2.4  70.70  -4     0.0
52556  1094    22       0    0    0  2.4  66.79  -4     0.0
52557  1094    22      30    0    0  2.2  66.78  -4     0.0
52558  1094    23       0    0    0  2.1  67.72  -4     0.0
52559  1094    23      30    0    0  2.1  67.70  -4     0.0

[52560 rows x 9 columns]

In [4]:
xtrain

       DHI  DNI     RH   T
0        0    0  69.08 -12
1        0    0  69.06 -12
2        0    0  71.78 -12
3        0    0  71.75 -12
4        0    0  75.20 -12
...    ...  ...    ...  ..
52555    0    0  70.70  -4
52556    0    0  66.79  -4
52557    0    0  66.78  -4
52558    0    0  67.72  -4
52559    0    0  67.70  -4

[52560 rows x 4 columns]

In [ ]:
import statsmodels.regression.quantile_regression
quantiles = [0.10, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70, 0.80, 0.90]